---
import type { CollectionEntry } from "astro:content";
import ProjectCard from "@/components/project/ProjectCard.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="space-y-6">
  {
    projects.map((project) => (
      <ProjectCard
        title={project.data.title}
        technologies={project.data.technologies.join(", ")}
        summary={project.data.summary}
        link={`/projects/${project.slug}`}
      />
    ))
  }
</div>
