<section
  class="mx-auto mt-10 w-full"
  data-giscus-comments
  data-repo="MrCPJT/astro-portfolio"
  data-repo-id="R_kgDOStKHig"
  data-category="General"
  data-category-id="DIC_kwDOStKHis4C-PH_"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-lang="en"
  data-loading="lazy"
>
</section>

<script is:inline src="/js/comments.js"></script>
