---
import { FaSolidArrowUp } from "solid-icons/fa";
---

<scroll-to-top>
  <button
    scroll-to-top
    aria-label="Scroll to top"
    class="fixed bottom-8 right-8 p-3 bg-gray-800/80 text-white rounded-full shadow-lg opacity-0 transition-all duration-300 hover:bg-gray-700 hover:scale-110 invisible"
  >
    <FaSolidArrowUp size={20} />
  </button>
</scroll-to-top>

<script is:inline src="/js/scrollToTop.js"></script>
